<html>
	<head>
		<style>
			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}
			body {
				background-image: url(<%= item %>);
				-webkit-background-size: 100%;
				-moz-background-size: 100%;
				-o-background-size: 100%;
				background-size: 100%;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				padding: 0px;
				margin: 0px;
				overflow: hidden;	
			}
			@media screen and (max-width: 540px) {
				body {
					background-image: url(<%= item %>) no-repeat;
					background-size: 100% 100%;
					background-repeat: no-repeat;
				}
			}
			.footer {
				position: absolute;
				left: 0;
				bottom: -18px;
				height: 40px;
				width: 100%;
				background-color: #000;
				color: #fff;
				font-size: 12px;
				text-align: left;
				height: 18px;
				padding: 5px;
				opacity: .5;
				padding-left: 15px;
				font-family: 'Roboto Slab', serif;
			}
		</style>
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> Serenity Scene | Surreal scenes to calm your mode </title>
		<meta name="description" content="Inspirational images for calmness and serenity">
	</head>
	<body>
		<!-- <div class="footer">
			2016 SerenityScene.com
		</div> -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-18545304-12', 'auto');
	  ga('send', 'pageview');

	</script>
	</body>
</html>