<html>
	<head>
		<style>
			body {
				background-image: url(<%= item %>);
				-webkit-background-size: 100%;
				-moz-background-size: 100%;
				-o-background-size: 100%;
				background-size: 100%;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
			@media screen and (max-width: 540px) {
				body {
					background-image: url(<%= item %>) no-repeat;
					background-size: 100% 100%;
					background-repeat: no-repeat;
					height: 100%;
				}
			}
			.footer {
				position: absolute;
				left: 0;
				bottom: -18px;
				height: 40px;
				width: 100%;
				background-color: #000;
				color: #fff;
				font-size: 12px;
				text-align: left;
				height: 18px;
				padding: 5px;
				opacity: .5;
				padding-left: 15px;
				font-family: 'Roboto Slab', serif;
			}
		</style>
		<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> Serenity Scene | Surreal scenes to calm your mode </title>
		<meta name="description" content="Inspirational images for calmness and serenity">
	</head>
	<body>
		<div class="footer">
			2016 SerenityScene.com
		</div>
	</body>
</html>